*{
	padding: 0px;
	margin: 0px;
	color: #212121;
	font-family: "Times New Roman", Georgia, Serif;
}

a{
	text-decoration: none;
	display: block;
	overflow: hidden;
}

html {
	    background-color: #f9f4ec;
}

main{
	margin-bottom: 160px;
	overflow: hidden;
}

.dark-background{
	background-color: #333;
	color: #CACACA;
}

.full-width {
	width: 100%;
}

footer{
	position: fixed;
	bottom: 0px;
	height: 182px;
}

header{
	margin-bottom: 20px;
	background-color: #f9f4ec;
}

ul {
	list-style: none;
}

.logo{
	max-width: 80%;
    margin: 2% 10%;
}

.breadcrumb{
    padding: 7px 10px;
    border-bottom: 3px solid #E46A02;
}

.site-list > li {
	width: 25%;
	max-width: 120px;
	float: left;
	text-align: center;
}

.site-list > li {
	height: 110px;
}

.site-list > li a {
	display: block;
	text-decoration: none;
	padding: 10px 0px 0px;
}

.site-list > li img {
	display: block;
    width: 45px;
    margin: 0px auto;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	border-radius: 5px;
}

.site-list > li p {
	margin-top: 7px;
    padding: 0px 5px;
    font-size: 0.8rem;
    height: 2.1rem;
    overflow: hidden;
}

footer ul {
	height: 150px;
	overflow-y: scroll;
}

footer > p {
	color: #F9F4EC;
    padding: 7px 10px;
    background-color: #E46A02;
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.5);
}

footer ul li{
	border-bottom: 1px solid #292929;
    border-top: 1px solid #484848;
	padding: 10px;
	overflow: hidden;
}

footer ul li:first-child{
	border-top: none;
}

footer ul li:last-child{
	border-bottom: none;
}

.light-color{
	color: #CACACA;
}

.small-font{
	font-size: 0.8rem;
}

.div-name{
	float: left;
}
.div-date{
	width: 110px;
}

.div-event{
	float: right;
}

.color-green {
	color: #13D413;
}

.color-amber {
	color: #E4C204;
}

.color-red {
	color: red;
}

.xs-font{
	font-size: 0.6rem;
}