<!doctype html>
<html>

<head>
    <script src="cordova.js"></script>
    <script src="scripts/angular.min.js"></script>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body ng-app="TBG" ng-controller="tbg__main-ctrl as ctrl">
    <header>
        <h1>Ghaint Shop</h1>
        <ul>
            <li><a href="javascript:void(0)">One Stop Shop</a></li>
        </ul>
    </header>

    <main>
            <ul class='site-list'>
                <li ng-repeat="item in ctrl.getSiteList()">
                    <a 
                    ng-click="ctrl.openWindow(item.tgt)"
                    href="javascript:void(0)">
                        <img src="{{item.img}}" alt="{{item.name}}">
                        <p>{{item.name}}</p>
                    </a>
                </li>
            </ul>
    </main>

    <footer class="full-width">
        <h3>Events and Sales</h3>
        <ul class='sale-list full-width'>
                <li ng-repeat="item in ctrl.getSaleList()">
                    <a 
                    ng-click="ctrl.openWindow(item.tgt)"
                    href="javascript:void(0)">
                        <p>{{item.name}}</p>
                    </a>
                </li>
            </ul>
    </footer>

    <script src="scripts/tbg_controller.js"></script>
</body>

</html>
